:root {
  --primery-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* Header */

.logo-link {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo {
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--titel-text-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--titel-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-list .link.current {
  color: var(--accent-color);
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primery-text-color);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primery-text-color);
}

.phone:hover,
.phone:focus {
  color: var(--accent-color);
}
.footer-map {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-map:hover,
.footer-map:focus {
  color: var(--accent-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  background: #2f303a;
}
.hero-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  color: #ffffff;
  background: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  color: #ffffff;
  background: #188ce8;
}

.hero-btn {
  cursor: pointer;
}
.hero {
  background: #2f303a;
}
.titel {
  visibility: hidden;
}

.benefits-titel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--titel-text-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.work-titel {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--titel-text-color);
}
.team-titel {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--titel-text-color);
}
.team player {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--titel-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
.footer-logo {
  color: #ffffff;
}
.footer-map {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;

  letter-spacing: 0.03em;
}
.mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.footer {
  background: #2f303a;
}
.page {
  background: #e5e5e5;
}
.page-titel {
  visibility: hidden;
}
.filtr-btn {
  width: 128px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--titel-text-color);
}

.filtr-btn:hover,
.filtr-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}
.cards-titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--titel-text-color);
}
.cards-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
